*{
    box-sizing: border-box;
}
body{
    background-color: aquamarine;
}
#header-nav{
    background-color: khaki;
    height: 100px;
}
#food{
    text-align: left;
    font-size: 2em;
    margin: 0 0 0 0;
    color: whitesmoke;
}

#how{
    background-color: tan;
    height: 1200px;
    margin: 20px 20px 20px 20px;
}
#nav-list a:hover{
    color: purple;
    
}
#nav-list>li{
    background-color: paleturquoise;
}
.col-sm-12{
    width: 100%;
    border-bottom: solid black 0.5px;
}

